.vriend{


    &__section{
        width: 100%;
        position: relative;
        background: rgb(254,146,160);
        background: linear-gradient(180deg, rgba(254,146,160,1) 0%, rgba(247,164,155,1) 22%, rgba(237,191,149,1) 50%, rgba(232,208,145,1) 80%, rgba(230,214,144,1) 100%);
        overflow: hidden;
        padding-top: 15rem;
        padding-bottom: 35rem;

        text-align: center;
        display: flex;
        flex-direction: column;

        align-items: center;

        &--title{
            padding: 0 5rem;
            max-width: 75rem; 
        }

        &--text{
            padding: 0 10rem;
            max-width: 100rem;
        }
    }

    &__bottom-illustration{
        width: 100%;
        position: absolute;
        bottom: 0;
    }




}