.centered-text-and-images{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20rem;
}


.image-banner{
    padding: 10rem;
    width: 100%;
}