/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Bauhaus93";
  src: url("fonts/Bauhaus93/bauhs93.eot"); /* IE9 Compat Modes */
  src: url("fonts/Bauhaus93/bauhs93.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/Bauhaus93/bauhs93.otf") format("opentype"), /* Open Type Font */
    url("fonts/Bauhaus93/bauhs93.svg") format("svg"), /* Legacy iOS */
    url("fonts/Bauhaus93/bauhs93.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/Bauhaus93/bauhs93.woff") format("woff"), /* Modern Browsers */
    url("fonts/Bauhaus93/bauhs93.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}