.dashboard{
    width: 100%;
    background-color: #708090;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10rem 0;
}

.logout-link{
    text-align: center;
}


.payment{

    &__wrapper{
        background-color: $house-light;
        padding: 2rem;

    }

    &__label{
        margin-bottom: 2rem;
    }

    &__input{
        margin-bottom: 2rem;
    }

    &__button{
        padding: .5rem 2rem;
        background-color: $color-primary;
    }
}